# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Editor / IDE
.vscode/
.idea/
*.swp
.DS_Store

# Output folders (created by the script)
EQL_output/
output/
*.txt.bak
